<!-- src/app/sidebar/sidebar.component.html -->

<div class="sidebar-wrapper">
    <div class="logo">
      <a href="http://angulararchitects.io" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="assets/paper-design/angular2-logo.png">
        </div>
      </a>
      <a href="http://angulararchitects.io" class="simple-text logo-normal">
        Flights 42
      </a>
    </div>
      <ul class="nav">

        <!-- Diese Einträge um routerLink und routerLinkActive erweitern: -->
        <li routerLinkActive="active">
            <a href="#" routerLink="home">
                <p>Home</p>
            </a>
        </li>

        <li routerLinkActive="active">
            <a routerLink="flight-search">
                <p>Flights</p>
            </a>
        </li>

        <li routerLinkActive="active">
            <a routerLink="passenger-search">
                <p>Passengers</p>
            </a>
        </li>

        <!-- Diesen Eintrag ergänzen: -->
        <li routerLinkActive="active">
          <a routerLink="about">
              <p>About</p>
          </a>
        </li>       

      </ul>
  </div>
  
