<!-- src/app/flight-search/flight-search.component.html -->

<h1>Flight Search</h1>

<div class="form-group">
    <label>From:</label>
    <input [(ngModel)]="from" class="form-control">
</div>
<div class="form-group">
    <label>To:</label>
    <input [(ngModel)]="to" class="form-control">
</div>

<div class="form-group">
    <input [(ngModel)]="delayFilter" type="checkbox" id="delayFilter">
    &nbsp;
    <label for="delayFilter">Delayed</label>
</div>





<!-- <div class="form-group">
    <label>Date:</label>
    <app-date [(date)]="date"></app-date> 
    {{date}}
</div> -->

<div class="form-group">
    <button class="btn btn-default" (click)="search()" [disabled]="!from || !to">
        Search
    </button>
</div>

<div class="row">
    <div *ngFor="let f of flights" class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
        <flight-card [item]="f" [(selected)]="basket[f.id]">
        </flight-card>
    </div>
</div>

<b>Basket</b>
<pre>{{ basket | json }}</pre>